@charset "utf-8";

/*--------------------BROWSER--------------------*/

::-webkit-scrollbar {
    display: none;
}
::selection {
    background: #ccc;
}

/*--------------------FONTS--------------------*/

@font-face {font-style: normal; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-Medium.woff);}
@font-face {font-style: normal; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-Bold.woff);}
@font-face {font-style: normal; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-Black.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-MediumItalic.woff);}
@font-face {font-style: italic; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-BoldItalic.woff);}
@font-face {font-style: italic; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-BlackItalic.woff);}
/* MONO */
@font-face {font-style: normal; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-Medium.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-MediumItalic.woff);}

* {
  font-family: LetteraText;
  font-style: normal;
  font-weight: 200;
}
.mono {
  font-family: LetteraMono;
  font-style: normal;
  font-weight: 200;
}
em {
  font-style: italic;
}

/*--------------------TEXT--------------------*/

h1 {
  font-size: 24px;
}
p, .portrait::after {
  font-size: 13px;
  margin: 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #000;
}
.under {
  text-decoration: underline;
}
.underHover:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}

/*--------------------GENERAL--------------------*/

html, body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}
body {
  width: 850px;
  margin: 25px auto;
}
#header > * {
  display: inline-block;
}
#logo {
  width: 45px;
  margin-right: 20px;
}
.border {
  border: 1px solid #000;
}
#lang {
  float: right;
}
#main {
  width: auto;
  padding: 30px 20px;
}
#footer > div {
  width: 200px;
  float: left;
}
#footer > div:last-child {
  float: right;
}

/*--------------------NAV--------------------*/

#nav > div {
  display: inline-block;
  width: 200px;
  border: 1px solid #000;
  border-bottom: none;
}

/*--------------------MAIN 1 (FILMATI)--------------------*/

#main1 > div {
  display: inline-block;
  vertical-align: top;
}
video {
  background-color: #000;
  width: 100%;
  height: 400px;
}
#controls {
  margin-top: 10px;
}
#controls i:not(:last-child) {
  margin-right: 10px;
}
#controls i:last-child {
  float: right;
}

/*--------------------MAIN 2 (MACCHINA)--------------------*/

.image {
  width: 70%;
  height: 400px;
  margin: auto;
  background-image: url(img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#gallery {
  text-align: center;
}
#gallery p {
  display: inline-block;
}
#gallery p:not(:last-child) {
  margin-right: 10px;
}

/*--------------------MAIN 3 (SUPPORTO)--------------------*/

#main3 > div {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.portrait {
  display: inline-block;
  width: 30%;
  background-color: #ccc;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
}
.portrait::after {
  content: attr(fake);
  position: absolute;
  bottom: -20px;
}
.portrait:hover::after {
  content: attr(real);
}
