@charset "utf-8";

/*--------------------BROWSER--------------------*/

::-webkit-scrollbar {
    display: none;
}

/*--------------------FONTS--------------------*/

@font-face {font-style: normal; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-Medium.woff);}
@font-face {font-style: normal; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-Bold.woff);}
@font-face {font-style: normal; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-Black.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-MediumItalic.woff);}
@font-face {font-style: italic; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-BoldItalic.woff);}
@font-face {font-style: italic; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-BlackItalic.woff);}
/* MONO */
@font-face {font-style: normal; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-Medium.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-MediumItalic.woff);}

* {
  font-family: LetteraText;
  font-style: normal;
  font-weight: 200;
}
.mono {
  font-family: LetteraMono;
  font-style: normal;
  font-weight: 200;
}
em {
  font-style: italic;
}

/*--------------------GENERAL--------------------*/

* {
  cursor: none;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #fff;
}
/* remove bottom margin */
#state1, #state2, #state3, #state4 {
  font-size: 0;
  line-height: 0;
}
.container {
  width: calc(100vw / 3);
  height: 50vh;
  float: left;
  overflow: hidden;
}
.video {
  min-height: 86%;
  max-height: 86%;
  min-width: 86%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  font-size: 15px;
  position: absolute;
  text-align: right;
  right: 45px;
}
#logo, #start, #mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo {
  top: 25%;
  width: 20vw;
}
#start {
  top: 75%;
  width: 20vw;
  padding: 1vw 0;
  background-color: #000;
  color: #fff;
  font-size: 2vw;
  border: none;
  outline: none;
}
#mask {
  pointer-events: none;
  width: 100vw;
  opacity: 1;
}
#intro, #outro {
  width: 100vw;
}
