@charset "utf-8";

/*--------------------BROWSER--------------------*/
::-webkit-scrollbar {
    display: none;
}
::selection {
    background: #ccc;
}

/*--------------------FONTS--------------------*/
@font-face {font-style: normal; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-Medium.woff);}
@font-face {font-style: normal; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-Bold.woff);}
@font-face {font-style: normal; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-Black.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraText; src: url(fonts/LetteraText-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraText; src: url(fonts/LetteraText-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraText; src: url(fonts/LetteraText-MediumItalic.woff);}
@font-face {font-style: italic; font-weight: 400; font-family: LetteraText; src: url(fonts/LetteraText-BoldItalic.woff);}
@font-face {font-style: italic; font-weight: 500; font-family: LetteraText; src: url(fonts/LetteraText-BlackItalic.woff);}
/* MONO */
@font-face {font-style: normal; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-Light.woff);}
@font-face {font-style: normal; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-Regular.woff);}
@font-face {font-style: normal; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-Medium.woff);}
@font-face {font-style: italic; font-weight: 100; font-family: LetteraMono; src: url(fonts/LetteraMono-LightItalic.woff);}
@font-face {font-style: italic; font-weight: 200; font-family: LetteraMono; src: url(fonts/LetteraMono-RegularItalic.woff);}
@font-face {font-style: italic; font-weight: 300; font-family: LetteraMono; src: url(fonts/LetteraMono-MediumItalic.woff);}

* {
  font-family: LetteraText;
  font-style: normal;
  font-weight: 200;
  box-sizing: border-box;
}
.mono {
  font-family: LetteraMono;
  font-style: normal;
  font-weight: 200;
}
em {
  font-style: italic;
}

/*--------------------FORMAT--------------------*/
h1 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}
p, .portrait::after {
  font-size: 13px;
  margin: 0;
  line-height: 1.5;
}
.small {
  font-size: 11px;
}
a {
  text-decoration: none;
  color: #000;
}
.underline, .underlineHover:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
#main p:not(.mono), #footer p:not(.mono) {
  margin-bottom: 20px;
}
#main p.mono, #footer p.mono {
  margin-bottom: 4px;
}

/*--------------------GENERAL--------------------*/
html, body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}
body {
  width: 850px;
  margin: 25px auto;
}
#main {
  width: auto;
  height: auto;
  padding: 25px 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
}
#main p:not(.mono) {
  display: inline-block;
}

/*--------------------HEADER--------------------*/
#header {
  margin-bottom: 40px;
}
#header > * {
  display: inline-block;
  vertical-align: top;
}
#logo {
  width: 70px;
  margin-right: 20px;
}
#area {
  border: 1px solid #000;
  padding: 3px 10px 2px 10px;
}
#lang {
  float: right;
}

/*--------------------NAV--------------------*/
#nav {
  margin-top: 40px;
  font-size: 15px;
}
.nav {
  display: inline-block;
  width: 20%;
  padding: 5px 10px;
  border: 1px solid #000;
  border-bottom: none;
}
.nav:not(:last-child) {
  border-right: none;
}
.navActive {
  background-color: #000;
  color: #fff;
}

/*--------------------MAIN 1 (FILMATI)--------------------*/
#main1 > div {
  display: inline-block;
  vertical-align: top;
}
#main1 > div:nth-child(1) {width: 35%}
#main1 > div:nth-child(2) {width: 65%}

video {
  background-color: #000;
  width: 100%;
  height: 400px;
}
#controls {
  margin-top: 10px;
  user-select: none;
}
#controls i:not(:last-child) {
  margin-right: 10px;
}
#controls i:last-child {
  float: right;
}
#main1 p.mono {
  margin-bottom: 0;
  padding-bottom: 4px;
}

/*--------------------MAIN 2 (MACCHINA)--------------------*/
.galleryImg {
  width: 70%;
  height: 400px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#galleryNav {
  text-align: center;
  user-select: none;
  margin-top: 10px;
}
#galleryNav p {
  display: inline-block;
}
#galleryNav p:not(:last-child) {
  margin-right: 15px;
}

/*--------------------MAIN 3 (SUPPORTO)--------------------*/
#main3 > div {
  display: inline-block;
  vertical-align: top;
}
#main3 > div:nth-child(1) {width: 40%; padding-right: 30px}
#main3 > div:nth-child(2) {width: 60%}

.portrait {
  display: inline-block;
  width: calc(100% / 3);
  height: 200px;
  margin-bottom: 40px;
  border-right: 20px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  position: relative;
}
.portrait::after {
  content: attr(fake);
  position: absolute;
  bottom: -25px;
}
.portrait:hover::after {
  content: attr(real);
}

/*--------------------FOOTER--------------------*/
#footer > div {
  display: inline-block;
  vertical-align: top;
}
#footer > div:nth-child(1) {width: 30%}
#footer > div:nth-child(2) {width: 40%}
#footer > div:nth-child(3) {width: 30%}
